.biomarkers-list {
    display: flex;
    flex-direction: column;
    overflow: visible;
    width: 420px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.solitaire-overview {
    /* width: 620px; */
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    margin-right: 75px;
}

@media screen and (min-width: 1920px) {
    .solitaire-overview {
        width: 820px;
    }
    .biomarkers-list {
        width: 960px;
    }
}

#biomarker-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    gap: 100px;
}

.solitaire-overview img {
    width: 80%;
    height: auto;
}

.biomarkers-list h1 {
    font-size: 22px;
    font-weight: semibold;
    margin-bottom: 20px;
}

.biomarkers {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.biomarkers li {
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
    font-size: 12px;
}

.biomarkers li b {
    font-size: 15px;
}

.biomarker-item {
    width: 100%;
}