.biomarkers-list {
    display: flex;
    flex-direction: column;
    overflow: visible;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.solitaire-overview {
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    margin-right: 15px;
}

@media screen and (max-width: 1528px) {
    .solitaire-overview {
        width: 720px;
    }
    .biomarkers-list {
        width: 440px;
    }
}

#biomarker-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0 40px;
}

.solitaire-overview img {
    width: 80%;
    height: auto;
}

.biomarkers-list h1 {
    font-size: 22px;
    font-weight: semibold;
    margin-bottom: 20px;
}

.biomarkers {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.biomarkers li {
    padding: 5px 0;
    font-size: 16px;
}

.biomarkers li b {
    font-size: 18px;
}

.biomarker-item {
    width: 100%;
}

.biomarker-desc {
    font-size: 16px;
    color: #666;
}

.solitaire-animated {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}