.container {
    flex-grow: 1;
    margin-left: 300px;
    padding-top: 20px;
    box-sizing: border-box;
    /* overflow-y: scroll; */
    /* -ms-overflow-style: none;
    scrollbar-width: none; */
    margin-top: 80px;
    padding-bottom: 40px;
    overflow-x: auto;
    transform-origin: 0 0; 
    zoom: 0.67;
}

.container::-webkit-scrollbar {
    display: none;
}



