

.info {
    margin-left: 20px;
    margin-top: -10px;
}


.not-bold {
    font-weight: normal;
}

.overview-row1 {
    display: flex;
    flex-grow: 1; 
    width: 100%; 
    gap: 20px; 
}

.personal-info{
    flex: 0 0 300px;
    max-width: 300px;
}

.digital-bio {
    flex: 1; 
    max-width: calc(100% - 320px); 
}

.overview-row2 {
    display: flex;
    margin-top: 20px;
    flex-grow: 1; 
    width: 100%; 
    gap: 20px; 
}

.personal-info-h {
    display:flex;
}

.icon{
    margin-left: 30px;
}


.info h3 {
  margin-top: 0; 
  margin-bottom: 5px; 
}


.demographics-list {
  list-style: none; 
  padding-left: 0; 
  margin-top: 0;

  margin-left: 20px;
}


.demographic-item {
  display: flex; 
  align-items: baseline;
  margin-bottom: 8px; 
  position: relative; 
  padding-left: 20px; 
}

.demographic-item::before {
  content: '•'; /* Custom bullet */
  position: absolute; 
  left: 0; 
  color: black; 
  font-size: 1.2em; 
  top: 0; 
}

.label {
  flex: 0 0 100px; 
  text-align: left; 
}

.value {
  flex: 1; 
  text-align: left; 
}

.horizontal-line {
    border: 0;
    height: 2px;
    background: black; 
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%; 
  }

  .test-scores{
    background-color: #E9E6FA;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
  }