.chatbox {
    position: fixed;
    bottom: 80px; 
    left: 10px;
    width: 350px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
  }
  
  .chatbox-header {
    padding: 10px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  

  
  .chatbox-body {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    height: 200px;
  }
  
  .chatbox-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    align-content: center;
    justify-content: center;
  }
  
  .chatbox-footer input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-color: black;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Poppins';
  }
  
  .chatbox-footer button {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-family: 'Poppins';
  }

  .user-message {
    background-color: #D3EFFC;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    align-self: flex-end;
    max-width: 100%;
    text-align: right;
    margin-left: 20px;
  }
  
  .system-message {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    align-self: flex-start;
    max-width: 100%;
    text-align: left;
    margin-right: 20px;
  }
  