.tutorial-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3); /* Darken the background with 60% opacity */
    z-index: 1001;
    backdrop-filter: blur(1px); 
    -webkit-backdrop-filter: blur(1px);
  }
  
  /* Highlighted element container */
  .highlight {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    z-index: 1001;
    transition: all 0.3s ease; /* Smooth transitions */
  }
  

  
  